
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
</head>
<body>
   
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href='/'>Enpaz</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">Add Entry</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/feed">My Entries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/resources">Resources</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Box around post -->
















































<!-- original -->
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= post.title %></h2>
      <img class="img-fluid" src="<%= post.image%>" />
      <div class="row justify-content-between">
        <!-- <form
          class="col-1"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-primary fa fa-heart" type="submit"></button>
        </form> -->
        <!-- <h3 class="col-3">Likes: <%= post.likes %></h3> -->
        <%if(post.user == user.id){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
      </div>
    </div>
    <div class="col-3 mt-5">
      <h3>Food</h3>
      <p><%= post.caption %></p>
      <h3>Mood(s)</h3>
      <p><%= post.mood %></p>
    </div>
<!-- add a comment -->
    <!-- <div class="mt-5">
      <h2>Add a comment</h2>
      <form action="/comment/createComment/<%=post._id%>" method="POST">
        <div class="mb-3">
            <label for="comment" class="form-label">Comment</label>
            <input type="text" class="form-control" id="comment" name="comment">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div> -->
    <!-- <ul>
      <% for(var i=0; i<comments.length; i++) {%>
        <li class="col-6 justify-content-between mt-5">
          <%= comments[i].comment%>
        </li>
      <% } %>
    </ul> -->
    <!-- <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div> -->
  </div>
</div>



<!-- Footer -->
<%- include('partials/footer') -%>
    

    


